* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

body{
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    padding: 70px 70px 24px 70px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    background-image: url(img/Son_como_ni_os-306280844-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

main {
    width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    position: absolute;
    top: 21%;
    left: 0%;
    z-index: 1;
}

img {
    position: absolute;
    top: 10%;
    left: 33%;
    transform: translateX(-50%);
    z-index: 0;
    width: 40%;
}

nav {
    font-size: 145%;
    width: 100%;
    position: fixed; 
    top: 3%; 
    left: 0%;
    align-self: flex-start;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 10px;
}

nav a {
    color: #FFFF;
    text-decoration: none;
    padding: 10px 50px;
    transition: background-color 0.2s ease;
}

.description__text{
    font-size: 110%;
    width: 410px;
    position: relative;
    top: 40%;
}

  p {
    color: aliceblue;
    background: linear-gradient (to right,rgba(255, 255, 255, 0.5), white url('background-image.jpg'));
    background-blend-mode: overlay;
  }
.video1 {
    position: absolute;
    top: 65%;
    left: 30%;
    display: flex;
    margin-bottom: 100%;
}
.video2 {
    width: 30%;
    margin-left: 0%;
    margin-bottom: 100%;
    margin-top: -3%;
  }

 footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 6%;
    margin-left: 11%;
    width: 81%;
}

.redes {
    width: 19%; 
    position: absolute;
    left: 157%;
    top: 70%;
  }
